<div class="academic_workload">
<h2>University Senate academic workload policy</h2>

<p>
For undergraduate courses, one credit is defined as equivalent to an average
of three hours of learning effort per week (over a full semester) necessary
for an average student to achieve an average grade (a C) in the course. For
example, an average student taking a four credit course that meets for four
hours a week should expect to spend an additional eight hours a week on course
work outside the classroom in order to get a C in that course.
</p>

</div>
