<div class="grading_standards">
<h2>Grading standards (definition of grades)</h2>

<ul>
<li>A: Represents achievement that is outstanding relative to the level necessary to meet course requirements.</li>
<li>B: Represents achievement that is significantly above the level necessary to meet course requirements.</li>
<li>C: Represents achievement that meets the course requirements in every respect.</li>
<li>D: Represents achievement that is worthy of credit even though it fails to meet fully the course requirements.</li>
<li>S: Represents achievement that is satisfactory, which is equivalent to a C- or better.</li>
<li>F (or N): Represents failure (or no credit) and signifies that the work was either (1) completed but at a level of achievement that is not worthy of credit or (2) was not completed and there was no agreement between the instructor and the student that the student would be awarded an I (see also I).</li>
<li>I (Incomplete): Assigned at the discretion of the instructor when, due to extraordinary circumstances, e.g., hospitalization, a student who is otherwise doing well in the course is prevented from completing the work of the course on time. Requires a written agreement between instructor and student.</li>
</ul>
</div>
