<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
<div id="disclaimer">
<p>
	On the off chance that you were <em>really</em> confused and thought I somehow speak for the entire University of Minnesota system:
	<blockquote>
		The views and opinions expressed in this page are strictly those of the page author. The contents of this page have not been reviewed or approved by the University of Minnesota.
	</blockquote>
</p>
</div>