---
layout: default
---
<article class="syllabus" itemscope>

  <header class="course-header">
    <h1 class="course-title" itemprop="name headline">
      {{ page.discipline }} {{ page.course_number }}: {{ page.title }} – {{ page.semester }} {{ page.year }}
    </h1>
  </header>

  <div class="schedule-content" itemprop="articleBody">
    {% for week in page.schedule %}
      <h2>Week {{ forloop.index }}</h2>
      <div class="topics">
        <h3>Primary topics</h3>
        <ul>
          {% for topic in week.topics %}
          <li>{{ topic }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="readings">
        <h3>Readings</h3>
        <ul>
          {% for reading in week.readings %}
          <li>{{ reading }}</li>
          {% endfor %}
        </ul>
      </div>
      {% if week.activities.size > 0 %}
      <div class="activities">
        <h3>Activities</h3>
        <ul>
          {% for activity in week.activities %}
          <li>{{ activity }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <hr>
    {% endfor %}
  </div>

  <footer class"schedule-footer">
  <p class="post-meta">
    Last modified: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
    {% if page.faculty %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">{{ page.faculty }}</span></span>{% endif %}
  </p>
  </footer>

</article>
