---
layout: default
---
<article class="syllabus" itemscope>

  <h1>Schedule - {{ page.semester }} {{ page.year }}</h1>
  <p class="subtitle">{{ page.discipline }} {{ page.course_number }}</p>
  <p class="subtitle">{{ page.title }}</p>
  <p class="subtitle">{{ page.faculty }}</p>

  {% assign start_epoch = page.start_date | date: "%s" %}
  {% assign week_epoch = start_epoch %}
  {% assign week_length = 604800 %}

  <div class="schedule-content" itemprop="articleBody">
    {% for week in page.schedule %}
    <section>
      <h2>Week {{ forloop.index }}: {{ week_epoch | date: "%-d %B" }}</h2>
      {% assign week_epoch = week_epoch | plus : week_length %}
      <div class="topics">
        <p>Primary topics</p>
        <ul>
          {% for topic in week.topics %}
          <li>{{ topic }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="readings">
        <p>Readings</p>
        <ul>
          {% for reading in week.readings %}
          <li>{{ reading }}</li>
          {% endfor %}
        </ul>
      </div>
      {% if week.activities.size > 0 %}
      <div class="activities">
        <p>Activities</p>
        <ul>
          {% for activity in week.activities %}
          <li>{{ activity }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
    {% endfor %}
  </div>

  <footer class"schedule-footer">
  <p class="post-meta">
    Last modified: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.date | date: "%b %-d, %Y" }}
    </time>
    {% if page.faculty %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">{{ page.faculty }}</span></span>{% endif %}
  </p>
  </footer>

</article>
