// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

#avatar {
	float: right;
}

header a {
	@include link-colors($subtitle-color, $hover: lighten($subtitle-color, 25), $visited: $subtitle-color, $focus: $subtitle-color, $active: $subtitle-color);
	text-decoration: none;
}

#notes_label {
	font-weight: bold;
}

#description_label {
	font-weight: bold;
}

// Definition list formatting for course links
.course_links dl {
    border: 3px double #ccc;
    padding: 0.5em;
}

.course_links dt {
    float: left;
    clear: left;
    width: 200px;
    text-align: right;
    font-weight: bold;
}

.course_links dt:after {
    content: ":";
}

.course_links dd {
    margin: 0 0 0 210px;
    padding: 0 0 0.5em 0;
}

.flickr {
  text-align: center;
}
aside.sidebar .flickr img {
  border: none;
}
aside.sidebar section .flickr img {
  // margin-top: 20px;
  margin: 5px;
}

#disclaimer blockquote {
	margin-top: -15px;
	margin-left: 50px;
	line-height: 1.2em;
	font-style: italic;
}
